.root {
  width: 400px;
  padding: 50px;
  border: 1px solid rgb(75, 253, 247);
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
